body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    color: #333; /* Dark grey text */
    line-height: 1.6;
    padding: 20px;
}

h2 {
    color: #0275d8; /* Blue color for headings */
}
.additional-information {
    padding-right: 3rem;
    padding-left: 3rem;
}
.single-image {
    width: 100%;
    height: auto;
    text-align: center; /* Center the image if it's smaller than the container */
    margin-bottom: 20px; /* Spacing below the image */
}

.single-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: for rounded corners */
}
aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #131a75;
}

aside>p {
    margin: 0.5rem;
}
.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
}

.carousel-control-prev {
    width: 5% !important;
}

.citation {
    font-style: italic;
    font-size: small;
    color: lightslategray;
    text-align: right;
}

#cityname {
    color: purple;
}

.city-img {
    float: left;
}

.container {
    padding-top: 50px;
}

.container-carousel-items {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.circular-image-row {
    text-align: center;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.featurette-divider {
    padding-bottom: 5rem;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img {
    height: 10rem;
    width: 10rem;
    position: center;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

li {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

form {
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.fun-fact {
    text-align: center;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 33.333333333%;
}

.navbar-brand {
    padding-left: 1rem;
}

.navbar-brand:hover {
    background-color: rgb(97, 80, 128);
    color: white
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.55;
    object-fit: cover;
}

.references {
    font-size: 1rem;
}

.row-circular-img {
    position: center;
    width: 1px;
}

.row-grid {
    margin-top: unset
}

.table-comparison {
    padding-right: 3rem;
    padding-left: 3rem;
}

.section-buffer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul {
    list-style-type:circle;
}

li::marker {
    font-size: 0;
}
