body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    color: #333; /* Dark grey text */
    line-height: 1.6;
    padding: 20px;
}

h2 {
    color: #0275d8; /* Blue color for headings */
}

form {
    background: white;
    padding: 15px; /* Reduced padding */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin: 10px 0; /* Reduced margin */
    padding: 0;
}

legend {
    font-size: 1.2em;
    margin-bottom: 5px; /* Reduced margin */
}

label, input, select, textarea {
    display: block;
    width: 100%;
    padding: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
textarea {
    margin-bottom: 10px; /* Reduced margin */
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0275d8; /* Blue background for submit button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Added margin-top */
}

input[type="submit"]:hover {
    background-color: #025aa5; /* Darker blue on hover */
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block; /* Inline display */
    margin-right: 10px;
}

label.checkbox, label.radio {
    display: inline-block; /* Inline display */
    margin-right: 20px; /* Space between checkbox options */
}

/* Carousel Styles */
.carousel {
    max-width: 100%; /* Ensure it doesn't overflow the viewport */
    margin-bottom: 20px; /* Space between the carousel and the form */
}

.carousel-item {
    height: 300px; /* Adjust as needed */
}

.carousel-item .overlay-image {
    background-size: cover;
    background-position: center;
    height: 100%;
}

/* Responsive design */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    label, input, select, textarea {
        width: 100%;
    }

    /* Adjust carousel size for smaller screens */
    .carousel-item {
        height: 200px; /* Smaller height for mobile */
    }
}
